<div class="top top_container">
    <div class="left_container">
        <div class="intro_container">
            <h2 class="col-md-6">
                <span class="text_shadow"> How To Contact </span>
                Gargi ?
            </h2>
            <p>Founded in 2007, we are a great team of problem solvers, creative thinkers,<br>
                programmers and designers. We are an agency small enough to be cohesive and <br>
                agile enough to approach every single project with devotion, care and flexibility.<br>
                Yet, big enough to accept coding challenges of all shapes and sizes.</p>
        </div>

    </div>
</div>
<div class="split right">
    <img class="gif_img" src="/assets/animationgif/contact.gif" alt="">

</div>

<!-- contact -->
<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2 >Get In Touch</h2>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                     <form action="/" method="post" class="contactform contact_form" id="contact_form">
                        <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Full Name" class="form-control"> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="email" type="text" placeholder="Email Address" class="form-control">  
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input id="subject" type="text" placeholder="Subject" class="form-control"> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="message" placeholder="Message" class="form-control" rows="3"></textarea> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <a id="send_message" class="px-btn theme" href="#"><span>Contact Us</span> <i class="arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 m-15px-tb">
                <div class="contact-name">
                    <h5>Mail</h5>
                    <p>info@domainname.com</p>
                </div>
                <div class="contact-name">
                    <h5>Visit My Office</h5>
                    <p>B-61, Sector 67 Road Noida, <br>Uttar Pradesh 201307</p>
                </div>
                <div class="contact-name">
                    <h5>Phone</h5>
                    <p>+91 9670232221</p>
                </div>
                <div class="social-share nav">
                    <a class="dribbble" href="#">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="behance" href="#">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a class="linkedin" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>













<div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>