<section class="outter option1">
    <section class="video-container">
        <video class="videocut" src="assets/Logo/thumbnil.mp4" autoplay loop playsinline muted type="video/mp4"></video>
        <div class="overlay">
        </div>
        <div class="callout">
            <h1 style="color: #ffffff;">Gargi Solution</h1>
            <h2><span class="auto-input" style="color: rgb(236, 213, 5);"></span></h2>
        </div>
    </section>
</section>

<!-- About section -->
<section class="section_about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <small>OUR COMPANY</small><br><br>
                <h3>Gargi Solution is a Trusted Name in the World for Managing IT Solutions</h3>
            </div>

            <div class="col-md-6">
                <p>Founded in 2010, Gargi Solution is a digital innovation and transformation consultancy company.
                    We diligently work with an aim to provide unmatched IT services and solutions to global
                    organizations and ambitious startups.
                    Our client-centered technological solutions have helped numerous companies in establishing
                    themselves as trusted brands and
                    winning new customers.
                </p>
            </div>
        </div>
        <!-- card used -->
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <mat-card class="mat-elevation-z4">
                        <img mat-card-image src="/assets/Ourcompany/service.jpg">
                        <mat-card-header>
                            <mat-card-title style="margin: 20px 47px;">Our Services</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                How we can help
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img mat-card-image src="/assets/Ourcompany/approach.jpg">
                        <mat-card-header>
                            <mat-card-title style="margin: 20px 42px;">Our Approach </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                A Unique Service model
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img mat-card-image src="/assets/Ourcompany/coustomer.jpg">
                        <mat-card-header>
                            <mat-card-title style="margin: 20px 38px;">Our Customers </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Client Success Stories
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img mat-card-image src="/assets/Ourcompany/expertise.jpg">
                        <mat-card-header>
                            <mat-card-title style="margin: 20px 42px;">Our Expertise </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Why Partner With Us
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <!-- End card used -->

    </div>
</section>

<!-- One Descrpiton -->
<div class="descr" style="font-size: 16px !important;background-color: rgb(237,238,243);font-weight: 700;text-align: center;
height: 60px;
padding: 20px;">
    <p>Get your organization ahead of the curve with a full array of IT services and support solutions. Explore our
        company.</p>
</div>
<!-- End One Descrpiton -->

<!-- Our Services -->

<div class="services">
    <div class="container_services">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center section_heading">Our <span
                        style="color:#c82c24; font-weight:600;">Services</span></h2>
                <p class="text-center section_subheading">
                    Gargi Solution offers services that include user-friendly navigation, newest features, and
                    maintaining standards as stated in business needs.
                </p>
            </div>

            <!-- card used -->
            <div class="row">
                <div class="col-md-12">
                    <div class="content_service">
                        <mat-card class="mat-elevation-z4">
                            <img mat-card-image src="/assets/ourservices/webdevelopment.jpg">
                            <mat-card-header>
                                <mat-card-title>WEB & MOBILE DEVELOPMENT</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    We provide solutions to help clients in achieving faster, measurable and efficient
                                    results.

                                </p>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="mat-elevation-z4">
                            <img mat-card-image src="/assets/ourservices/iot.jpg">
                            <mat-card-header>
                                <mat-card-title>INTERNET OF THINGS</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Our IOT experts use emerging technologies, designs & strategies to create new
                                    business opportunities.
                                </p>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="mat-elevation-z4">
                            <img mat-card-image src="/assets/ourservices/ui.jpg">
                            <mat-card-header>
                                <mat-card-title>UI & UX DESIGNING </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    We bring brand values by creating customized interactive user interfaces with deep
                                    graphic knowledge.
                                </p>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="mat-elevation-z4">
                            <img mat-card-image src="/assets/ourservices/Ai.png">
                            <mat-card-header>
                                <mat-card-title>AI & MACHINE LEARNING </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    We apply deep expertise knowledge to meet untouched needs of enterprises and solve
                                    their toughest problems.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!-- End card used -->
        </div>
    </div>
</div>


<!-- End Services -->

<!-- why choose us -->
<section class="section_choose">
    <div class="container_choose">
        <div class="row">
            <div class="col-md-6">
                <small>why CHOOSE US</small><br><br>
                <h3>Gargi Solution is a Trusted Name in the World for Managing IT Solutions</h3>
            </div>

            <div class="col-md-6">
                <p>Founded in 2010, Gargi Solution is a digital innovation and transformation consultancy company.
                    We diligently work with an aim to provide unmatched IT services and solutions to global
                    organizations and ambitious startups.
                    Our client-centered technological solutions have helped numerous companies in establishing
                    themselves as trusted brands and
                    winning new customers.
                </p>
            </div>
        </div>
        <!-- card used -->
        <div class="row">
            <div class="col-md-12">
                <div class="content_choose">
                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/QUALITY.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 10px;">OUR WORK QUALITY </mat-card-title>
                        </mat-card-header>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/CUSTOMER.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 0 0 0; ;text-align:center;">CUSTOMER SATISFACTION
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/SECURITY.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 0 0 0; ;text-align:center;">BETTER SECURITY, LOWER
                                LATENCY</mat-card-title>
                        </mat-card-header>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/CARE.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 60px;">WE CARE</mat-card-title>
                        </mat-card-header>

                    </mat-card>


                </div>
                <div class="content_choose">
                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 100px; margin-left: 60px;" src="/assets/whychoose/TRANSPARENCY.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 10px;">TRANSPARENCY</mat-card-title>
                        </mat-card-header>

                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/DELIVER.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 45px;">WE DELIVER</mat-card-title>
                        </mat-card-header>
                    </mat-card>

                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/PROJECT.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 0 0 0; text-align: center;">DEDICATED PROJECT MANAGERS
                            </mat-card-title>
                        </mat-card-header>

                    </mat-card>
                    <mat-card class="mat-elevation-z4">
                        <img style=" height: 90px; margin-left: 70px;" src="/assets/whychoose/SUPPORT.png">
                        <mat-card-header>
                            <mat-card-title style="margin: 18px 35px; ">OUR SUPPORT</mat-card-title>
                        </mat-card-header>

                    </mat-card>
                </div>

            </div>
        </div>
        <!-- End card used -->

    </div>
</section>
<!-- End why choose us -->

<!-- Our Clients -->
<div class="image_container">
    <div class="image_sub">
        <div class="col-md-12">
            <div class="our_client">
                <h2 class="image_heading">Our <span style="color:#c82c24; font-weight:600;">Clients</span></h2>
                <p>
                    Gargi Solution offers services that include user-friendly navigation, newest features, and
                    maintaining standards as stated in business needs.
                </p>
            </div>
        </div>
        <div class="matcard_images">
            <mat-card class="mat_image">
                <img src="/assets/client/HodzarIcon.png" alt="">
                <img src="/assets/client/LMPLogo.png" alt="">
            </mat-card>
        </div>
    </div>
</div>

<!--End Clients  -->

<!-- Testimonial -->
<div class="testi_container">
    <div class="testi_sub">
        <div class="col-md-12">
            <div class="our_clientsay">
                <h2 class="testi_heading">What our <span style="color:#c82c24; font-weight:600;">Clients Say?</span>
                </h2>
                <p>Our customers love us! Read what they have to say below.</p>
            </div>
        </div>
        <!-- etc -->
        <div class="testimonials-clean">
            <div class="container">
                <div class="row people">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/testimonial/1.jpeg">
                            <h5 class="name">Ben Johnson</h5>
                            <p class="title">CEO of Company Inc.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et
                                interdum justo suscipit id.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/testimonial/3.jpeg">
                            <h5 class="name">Carl Kent</h5>
                            <p class="title">Founder of Style Co.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate
                                quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/testimonial/2.jpeg">
                            <h5 class="name">Emily Clark</h5>
                            <p class="title">Owner of Creative Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonial -->