<!-- ======= Header ======= -->
<div>

<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <div class="brands__item">
      <a href="/src/app/header/header.component.html"><img alt="Angular Logo" src="assets/Logo/LOGO.png"></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active"  routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="getstarted" routerLinkActive="active" routerLink="/contact">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet (activate)="onActivate($event)"> </router-outlet>
</div>

</div>


<!-- End Header -->
